<%= form_for [@category, @event] do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>
	<%= f.submit %>
<% end %>