<%= form_for [@category, @event] do |f| %>
	<%= f.error_messages %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<script type="text/javascript">
		  tinyMCE.init({
		    mode: 'textareas',
		    theme: 'advanced'
		  });
		</script>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
<% end %>