<div id='event'>
	<h2><%= @event.title %></h2>
	<small>Author: <%= @event.user.name %></small>
	<%= simple_format(@event.description) %>
</div>
<%= link_to "Edit Event", [:edit, @category, @event] %>
<%= link_to "Delete Event", [@category, @event], :method => :delete, :confirm => "Are you sure you want to delete this event?" %>